@{
    ViewBag.Title = "Home Page";
}

@model WebApplication_DotNet_MVC.Models.Employee

<main>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <label>Firstname:</label>
            <input type="text" />
        </div>

        <div class="row">
            <label>Firstname:</label>
            @Html.TextBox("Test")
        </div>


        <div class="row">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <button type="submit">Validate</button>
    }
</main>